body {
    overflow-x: hidden;
    margin: auto;
}

main {

    margin: auto;
    max-width: 1320px;

}

.r1 {
    margin-left: 50px;
    text-align: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    height: 600px;
    border-radius: 16px;

}

.banner-content {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
}

.banner-greeting {

    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    padding-top: 150px;

}

.banner-title {

    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;


}

.banner-greeting,
.banner-title {

    margin: 16px;
}